@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

:root {
  --widthLogo: 105px;
  --heightLogo: 45px;
  --cor-primaria: #f2f2f2;
  --cor-secundaria: #2c74b4;
  --cor-fundo: #3f3f3f;
  --margin-padrao: 1.6em;
  --radius-botao: 10px;
  --tamanho-fonte-padrao: 1.2rem;
  --tamanho-fonte-padrao: 1.2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  background: linear-gradient(90deg, #638BBF, #49668C, #5681A6,#9BAEBF,#F2F2F2);
}

.container form {
  padding: 20px;
  width: 700px;
  background: var(--cor-primaria);
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col {
  flex: 1 1 250px;
}

.container form .row .col .title {
  text-align: center;
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
}

.container form .row .col .inputBox span {
  margin: .8em 0;
  display: block;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  height: 3.3em;
  font-size: 15px;
  text-transform: none;
  margin-bottom: 1em;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.container form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #27ae60;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover {
  background: #2ecc71;
}

.inputQueESelect {
  width: 100%;
  height: 3.75em;
  border: 1px solid #ccc;
}

optgroup {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

#nomeNoCartao {
  text-transform: uppercase;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input , select {
  padding-left: 1em;
}

img.imgEsquerda {
  width: 80px;
  height: 80px;
  text-align: center;
  margin-left: 7em;
  margin-top: .563em;
}

#CVV {
  margin-top: 1.7em;
}

#AnoExp {
  margin-top: 1.65em;
  width: 10em;
}