/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&display=swap');

/* .barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: ...;
  font-style: ...;
}*/

@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* .roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: ...;
  font-style: ...;
} */

@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Coiny&family=Dancing+Script:wght@400..700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* .coiny-regular {
  font-family: "Coiny", system-ui;
  font-weight: ...;
  font-style: ...;
} */

/* ESTILIZAÇÃO GERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --widthLogo: 105px;
    --heightLogo: 45px;
    --cor-primaria: #f2f2f2;
    --cor-secundaria: #2c74b4;
    --margin-padrao: 1.6em;
    --radius-botao: 10px;
    --tamanho-fonte-padrao: 1.2rem;
    --tamanho-fonte-padrao: 1.2rem;
}

/* ESTILIZAÇÃO CABEÇALHO */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    background-color: var(--cor-primaria);
}

.logo img {
    width: var(--widthLogo);
    height: var(--heightLogo);
}

.menu a {
    display: inline-flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: var(--margin-padrao);
    text-decoration: none;
    color: var(--cor-secundaria);
}

.contato {
    display: flex;
}

.logo a {
    display: inline-flex;
}

header a:hover {
    transform: scale(1.3);
    transition: ease .3s;
}

.contato a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: var(--radius-botao);
    padding: 2.6px;
    color: var(--cor-secundaria);
    border: 1.5px dashed;
    text-decoration: none;
}

/* ESTILIZAÇÃO CORPO */

h2,
h3 {
    font-family: "Coiny", system-ui;
    font-size: 22px;
    margin: 1.2em;
}

h2 img {
    width: 15px;
    height: 15px;
}

div p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: var(--tamanho-fonte-padrao);
    margin: 1em 0 2em 3em;
}

/* CARRINHO DE COMPRAS E OUTRO*/
.container {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* Oculto o que está fora da .container */
    contain: paint;
}

/* SECCION CONTENEDOR DE ITEMS */
.container .container-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
    max-height: 400px;
    /* Defina a altura máxima desejada */
    overflow-y: auto;
    /* Adicione rolagem vertical quando necessário */
}

.container .container-items .item {
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.container .container-items .item .img-item {
    width: 100%;
}

.container .container-items .item:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.container .container-items .item .titulo-item {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.container .container-items .item .precio-item {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.container .container-items .item .boton-item {
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* seccion Carrinho */
.carrinho {
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
    max-height: 400px;
    /* Defina a altura máxima desejada */
    overflow-y: auto;
    /* Adicione rolagem vertical quando necessário */
}

.carrinho .header-carrinho {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrinho .carrinho-item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrinho .carrinho-item img {
    margin-right: 20px;
}

.carrinho .carrinho-item .carrinho-item-titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrinho .carrinho-item .selector-cantidad {
    display: inline-block;
    margin-right: 25px;
}

.carrinho .carrinho-item .carrinho-item-cantidad {
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrinho .carrinho-item .selector-cantidad i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrinho .carrinho-item .carrinho-item-precio {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrinho .carrinho-item .btn-eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrinho .carrinho-item .btn-eliminar i {
    pointer-events: none;
}

.carrinho-total {
    background-color: #f3f3f3;
    padding: 30px;
}

.carrinho-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrinho-total .btn-pagar {
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrinho-total .btn-pagar:hover {
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .container {
        display: block;
    }

    .container-items {
        width: 100% !important;
    }

    .carrinho {
        width: 100%;
    }
}