/* ESTILIZAÇÃO GERAL */

@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhai";
}

:root {
    --widthLogo: 105px;
    --heightLogo: 45px;
    --cor-primaria: #f2f2f2;
    --cor-secundaria: #2c74b4;
    --cor-fundo: #3f3f3f;
    --margin-padrao: 1.6em;
    --radius-botao: 10px;
    --tamanho-fonte-padrao: 1.2rem;
    --tamanho-fonte-padrao: 1.2rem;
}

/* ESTILIZAÇÃO CABEÇALHO */

.cabecalho {
    pointer-events: all;
    z-index: 1;
    top: 0;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    opacity: 1;
    height: 4.5em;
    background-color: var(--cor-secundaria);
}

.logo img {
    width: var(--widthLogo);
    height: var(--heightLogo);
}

.menu a {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma;
    font-size: 1em;
    margin: var(--margin-padrao);
    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: bold;
    transform: scale(1.1);
}

.menu a.active {
    border-bottom: 2px solid var(--cor-secundaria);
    /* Adiciona uma borda na parte inferior */
}

.menu a::after:focus {
    width: 100%;
}

.login {
    display: flex;
}

.logo a {
    display: inline-flex;
}

header a:hover {
    transform: scale(1.3);
}

header a {
    transition: ease-in-out .3s;
}

.login a {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 1em;
    border-radius: var(--radius-botao);
    padding: .1em .5em;
    color: var(--cor-primaria);
    border: 1.6px double;
    text-decoration: none;
    margin-right: 2em;
    display: flex;
    align-items: center;
}

/* CARROSSEL */

.texto p {
    margin: 0;
    text-align: justify;
}

.texto h2 {
    font-size: 2em;
    color: transparent;
    background: linear-gradient(45deg, #3724E0, #244DE0, #24C4E0, #7524E0);
    background-size: 400% 100%;
    animation: animado 5s linear infinite alternate;
    -webkit-background-clip: text;
    font-weight: bold;
}

@keyframes animado {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 400%;
    }
}

.texto {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.carousel {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 4.5em;
    gap: 14em;
    background-color: #2c75b4b8;
}

.carrossel {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel button {
    left: 90%;
    width: 200px;
    z-index: 0;
}


button.carousel-control-prev {
    left: 48%;
}

.carousel img {
    height: 700px;
    padding: auto;
}

.carousel-item {
    transition: .6s ease-in-out;
}

#carouselExampleAutoplaying {
    transition: .2s ease-in-out;
}

.preto {
    background-color: rgb(81, 81, 81);
}

.vermelho {
    background-color: rgb(233, 121, 121);
}

.rosa {
    background-color: rgb(245, 187, 197);
}

/* ESPACO E SLOGAN */
/* estilização da pate da frase e do teclado se movendo */

.col-xs-12.col-sm-4.col-md-4 {
    width: 100%;
}

.box-servico {
    transition: .1s ease-in-out;
}

.box-servico:hover {
    transform: scale(1.1);
}

.container2 {
    display: flex;
    flex-direction: column;
}

.beneficios .planeta {
    -webkit-animation: anamitionPlanetMobile 8s infinite linear;
    -moz-animation: anamitionPlanetMobile 8s infinite linear;
    -o-animation: anamitionPlanetMobile 8s infinite linear;
    animation: anamitionPlanetMobile 8s infinite linear;
}

.beneficios .lua {
    -webkit-animation: anamitionLuaMobile 12s infinite linear;
    -moz-animation: anamitionLuaMobile 12s infinite linear;
    -o-animation: anamitionLuaMobile 12s infinite linear;
    animation: anamitionLuaMobile 12s infinite linear;
}

@media (min-width: 768px) {
    .beneficios .planeta {
        -webkit-animation: anamitionPlanetTablet 15s infinite linear;
        -moz-animation: anamitionPlanetTablet 15s infinite linear;
        -o-animation: anamitionPlanetTablet 15s infinite linear;
        animation: anamitionPlanetTablet 15s infinite linear;
    }

    .beneficios .lua {
        -webkit-animation: anamitionLuaTablet 18s infinite linear;
        -moz-animation: anamitionLuaTablet 18s infinite linear;
        -o-animation: anamitionLuaTablet 18s infinite linear;
        animation: anamitionLuaTablet 18s infinite linear;
    }
}

@media (min-width: 1025px) {
    .beneficios .planeta {
        -webkit-animation: anamitionPlanet 15s infinite linear;
        -moz-animation: anamitionPlanet 15s infinite linear;
        -o-animation: anamitionPlanet 15s infinite linear;
        animation: anamitionPlanet 15s infinite linear;
    }

    .beneficios .lua {
        -webkit-animation: anamitionLua 18s infinite linear;
        -moz-animation: anamitionLua 18s infinite linear;
        -o-animation: anamitionLua 18s infinite linear;
        animation: anamitionLua 18s infinite linear;
    }
}

@-webkit-keyframes anamitionPlanet {
    0% {
        left: 0%;
        top: 50px;
    }
    22% {
        top: -45px;
    }
    24% {
        top: -48px;
    }
    26% {
        top: -48px;
    }
    28% {
        top: -45px;
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
        top: 50px;
    }
    72% {
        top: -45px;
    }
    74% {
        top: -48px;
    }
    76% {
        top: -48px;
    }
    78% {
        top: -45px;
    }
    100% {
        left: 0%;
        top: 50px;
    }
}

@-webkit-keyframes anamitionLua {
    0% {
        left: 0%;
        top: -50px;
    }
    22% {
        top: 42px;
    }
    24% {
        top: 46px;
    }
    26% {
        top: 46px;
    }
    28% {
        top: 42px;
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
        top: -50px;
    }
    72% {
        top: 42px;
    }
    74% {
        top: 46px;
    }
    76% {
        top: 46px;
    }
    78% {
        top: 42px;
    }
    100% {
        left: 0%;
        top: -50px;
    }
}

@-moz-keyframes anamitionLua {
    0% {
        left: 0%;
        top: -50px;
    }
    22% {
        top: 42px;
    }
    24% {
        top: 46px;
    }
    26% {
        top: 46px;
    }
    28% {
        top: 42px;
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
        top: -50px;
    }
    72% {
        top: 42px;
    }
    74% {
        top: 46px;
    }
    76% {
        top: 46px;
    }
    78% {
        top: 42px;
    }
    100% {
        left: 0%;
        top: -50px;
    }
}

@-o-keyframes anamitionLua {
    0% {
        left: 0%;
        top: -50px;
    }
    22% {
        top: 42px;
    }
    24% {
        top: 46px;
    }
    26% {
        top: 46px;
    }
    28% {
        top: 42px;
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
        top: -50px;
    }
    72% {
        top: 42px;
    }
    74% {
        top: 46px;
    }
    76% {
        top: 46px;
    }
    78% {
        top: 42px;
    }
    100% {
        left: 0%;
        top: -50px;
    }
}

@keyframes anamitionLua {
    0% {
        left: 0%;
        top: -50px;
    }
    22% {
        top: 42px;
    }
    24% {
        top: 46px;
    }
    26% {
        top: 46px;
    }
    28% {
        top: 42px;
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
        top: -50px;
    }
    72% {
        top: 42px;
    }
    74% {
        top: 46px;
    }
    76% {
        top: 46px;
    }
    78% {
        top: 42px;
    }
    100% {
        left: 0%;
        top: -50px;
    }
}

@-webkit-keyframes anamitionPlanetMobile {
    0% {
        left: 0%;
        top: 30px;
    }
    22% {
        top: 6px;
    }
    22% {
        top: 4px;
    }
    24% {
        top: 2px;
    }
    26% {
        top: 2px;
    }
    28% {
        top: 4px;
    }
    30% {
        top: 6px;
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
        top: 30px;
    }
    70% {
        top: 6px;
    }
    72% {
        top: 4px;
    }
    74% {
        top: 2px;
    }
    76% {
        top: 2px;
    }
    78% {
        top: 4px;
    }
    78% {
        top: 6px;
    }
    100% {
        left: 0%;
        top: 30px;
    }
}

@-moz-keyframes anamitionPlanetMobile {
    0% {
        left: 0%;
        top: 30px;
    }
    22% {
        top: 6px;
    }
    22% {
        top: 4px;
    }
    24% {
        top: 2px;
    }
    26% {
        top: 2px;
    }
    28% {
        top: 4px;
    }
    30% {
        top: 6px;
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
        top: 30px;
    }
    70% {
        top: 6px;
    }
    72% {
        top: 4px;
    }
    74% {
        top: 2px;
    }
    76% {
        top: 2px;
    }
    78% {
        top: 4px;
    }
    78% {
        top: 6px;
    }
    100% {
        left: 0%;
        top: 30px;
    }
}

@-o-keyframes anamitionPlanetMobile {
    0% {
        left: 0%;
        top: 30px;
    }
    22% {
        top: 6px;
    }
    22% {
        top: 4px;
    }
    24% {
        top: 2px;
    }
    26% {
        top: 2px;
    }
    28% {
        top: 4px;
    }
    30% {
        top: 6px;
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
        top: 30px;
    }
    70% {
        top: 6px;
    }
    72% {
        top: 4px;
    }
    74% {
        top: 2px;
    }
    76% {
        top: 2px;
    }
    78% {
        top: 4px;
    }
    78% {
        top: 6px;
    }
    100% {
        left: 0%;
        top: 30px;
    }
}

@keyframes anamitionPlanetMobile {
    0% {
        left: 0%;
        top: 30px;
    }
    22% {
        top: 6px;
    }
    22% {
        top: 4px;
    }
    24% {
        top: 2px;
    }
    26% {
        top: 2px;
    }
    28% {
        top: 4px;
    }
    30% {
        top: 6px;
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
        top: 30px;
    }
    70% {
        top: 6px;
    }
    72% {
        top: 4px;
    }
    74% {
        top: 2px;
    }
    76% {
        top: 2px;
    }
    78% {
        top: 4px;
    }
    78% {
        top: 6px;
    }
    100% {
        left: 0%;
        top: 30px;
    }
}

@-webkit-keyframes anamitionLuaMobile {
    0% {
        left: 0%;
        top: -10px;
    }
    22% {
        top: -7px;
    }
    22% {
        top: -6px;
    }
    24% {
        top: -5px;
    }
    26% {
        top: -5px;
    }
    28% {
        top: -6px;
    }
    30% {
        top: -7px;
    }
    50% {
        left: 100%;
        transform: translateX(-100%);
        top: -10px;
    }
    72% {
        top: -4px;
    }
    74% {
        top: -6px;
    }
    76% {
        top: -6px;
    }
    78% {
        top: -4px;
    }
    100% {
        left: 0%;
        top: -10px;
    }
}


.beneficios {
    padding: 70px 0;
    background-color: #6c99ee;
    overflow: hidden;
}

@media (min-width: 768px) {
    .beneficios {
        padding: 200px 0px 90px 0px;
    }
}

.beneficios .display-servicos {
    position: relative;
    padding: 70px 0px 120px 0px;
    background: #fff;
}

.beneficios .display-servicos::before {
    content: '';
    display: inline-block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vw;
    top: 0%;
    transform: translateY(-50%);
    width: 100vw;
}

.beneficios .display-servicos::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vw;
    bottom: 0%;
    transform: translateY(100%);
    width: 100vw;
}

@media (min-width: 768px) {
    .beneficios .display-servicos::after {
        bottom: 0.5%;
    }
}

.beneficios .display-servicos h2 {
    text-align: center;
    font-size: 40px;
}

.beneficios .display-servicos h2 span {
    color: #5f97fe;
}

.beneficios .display-servicos p {
    font-family: Helvetica, Arial, sans-serif !important;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.beneficios .display-servicos .box-servico {
    margin: 50px 0;
    position: relative;
    display: block;
}

.beneficios .display-servicos .box-servico img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: 70px;
}

.beneficios .display-servicos .box-servico p {
    position: relative;
    top: 45px;
    transform: translateY(-50%);
    font-size: 17px;
}

@media (min-width: 768px) {
    .beneficios .display-servicos .box-servico img {
        max-height: 120px;
        width: auto;
    }
}

.beneficios .display-servicos .boxes-servicos-desk {
    margin-top: 50px;
}

.beneficios .display-servicos .boxes-servicos .box-servico {
    -webkit-box-shadow: 1px 0px 22px -9px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 0px 22px -9px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 0px 22px -9px rgba(0, 0, 0, 0.6);
    background: #fff;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 50px;
    padding: 50px 20px;
    min-height: 200px;
    transition: 1s;
}

.beneficios .display-servicos .boxes-servicos .box-servico img {
    height: 100px;
    position: relative;
}

.beneficios .display-servicos .boxes-servicos .box-servico p {
    font-size: 13px;
}



.beneficios .planeta {
    position: relative;
    top: 10px;
    z-index: 99;
    max-width: 50px;
}

@media (min-width: 768px) {
    .beneficios .planeta {
        top: 0px;
        max-width: 85px;
    }
}

@media (min-width: 1025px) {
    .beneficios .planeta {
        max-width: 140px;
        top: -30px;
    }
}

.beneficios .lua {
    position: relative;
    top: -30px;
    max-width: 75px;
}

@media (min-width: 768px) {
    .beneficios .lua {
        top: -70px;
        max-width: 150px;
    }
}

@media (min-width: 1025px) {
    .beneficios .lua {
        max-width: 210px;
    }
}


/* ESTILIZAÇÃO CORPO */

#Sobre {
    margin-top: 3em;
}

h2,
h3 {
    font-family: Verdana, Tahoma;
    font-size: 22px;
    margin-bottom: 2em;
    text-align: center;
}

h2 img {
    width: 15px;
    height: 15px;
}

ul {
    margin-left: 7em;
    list-style: none;
    font-family: Arial, Helvetica;
    font-size: var(--tamanho-fonte-padrao);
}

ul li {
    margin-left: 1em;
}

div p {
    font-family: Arial, Helvetica;
    font-size: var(--tamanho-fonte-padrao);
    margin: 1em 0 2em 3em;
}

footer {
    align-items: center;
    justify-content: space-between;
    background-color: #2c74b4;
    display: flex;
    padding: 20px;
}

.somos {
    display: flex;
}

.somos2 {
    border-radius: 15px;
    padding: 1em;
}

.somos2 p {
    text-align: justify;
}

.somos2 h2,
.somos2 h3,
.avaliacao h2 {
    text-align: left;
    margin-left: 3em;
    font-size: 30px;
}

.somos2 h3 {
    margin: 1em 3em;
}

.somos2 h2 {
    margin-bottom: .5em;
}

.somos h2 span {
    color: var(--cor-secundaria);
}

.imagem {
    border-radius: 15px;
    width: 100%;
}

figure.img {
    border: 1px solid;
    height: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 870px;
}


div.somos figure img {
    width: 240px;
    height: 240px;
    border-radius: 15px;
}

div.somos .imagem {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 53%;
    padding: 3em 10%;
}

.hist {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    align-items: center;
    text-align: justify;
    border-bottom: 2px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.hist1 {
    border-right: 2px solid;
    padding: 1em;
    width: 95.5%;
}

.img2 {
    width: 450px;
    height: 450px;
    align-items: center;
    border-radius: 50%;
}

/* BOTAO DO 1° CARROSSEL */

#VerMais,
.texto2 a,
.informacoes a {
    border-radius: 15px;
    width: 200px;
    height: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 3em;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    transition: .4s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
}

#VerMais:hover,
.texto2 a:hover,
.informacoes a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px #0037fc;
}

/* DIV ALGUMA COISA */

.algumaCoisa {
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.algumaCoisa .fundo img {
    width: 100vw;
    height: 120vh;
    opacity: .85;
}

.infos {
    position: absolute;
    height: 720px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: #244de06b;
}

.flex {
    display: flex;
    width: 80vw;
    height: 50vh;
    justify-content: space-around;
}

.informacoes {
    width: 44vw;
    display: flex;
    flex-direction: column;
    color: white;
}

.informacoes p {
    margin: 1em;
}

.infos figure img {
    width: 520px;
    height: 450px;
    border-radius: 25px;
    box-shadow: 0 0 8px var(--cor-primaria);
}

.flex figure {
    align-self: center;
}

.informacoes a {
    align-self: center;
    margin: 1em;
}

/* DIV CARROSSEL2 E PARTE DO PRODUTO */

#produto {
    display: flex;
    justify-content: center;
}

.fundo2 {
    position: absolute;
    height: 120vh;
    z-index: -1;
    opacity: .7;
}

.fundo2 img {
    height: 140vh;
    width: 100vw;
}

.resto {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 140vh;
    width: 55vw;
    background-color: #458aebb7;
    padding: 10em 0;
    color: white;
}

.texto2 p {
    margin: 0;
}

.texto2 {
    width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto2 a {
    width: 200px;
    padding: 1em;
}

.texto2 a p,
#VerMais p {
    font-size: 1em;
}

.texto2 h2 {
    margin-top: 2em;
}

.container-slider {
    display: flex;
    width: 960px;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.container-images img {
    transition: .8s ease-in-out;
    height: 600px;
}

.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on {
    opacity: 1;
}

#prev-button,
#next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img,
#next-button img {
    width: 100%;
    height: 100%;
}

#prev-button {
    transform: rotate(180deg);
}

#produto h2 {
    margin: 2em;
}

h2#NossoProd {
    margin: 2em 0;
    font-size: 1.5em;
    font-weight: bold;
}

/* AVALIACOES */

div.avaliacoes {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 630px);
    justify-content: center;
    height: 225vh;
    gap: 5em;
    margin-top: 3em;
}

.avaliacao h2 {
    margin: 2em;
    text-align: center;
}

.estrelas i {
    color: yellow;
}

.estrelas {
    margin: 1em 0;
    transition: .2s ease;
}

.cardTexto {
    margin: 1em;
    text-align: center;
    height: 100%;
}

.cardTexto p {
    margin: 0;
}

.av {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: 2px solid;
    padding: 1em;
    transition: .3s ease-in-out;
}

.av:hover {
    box-shadow: 0 0 10px #0037fc8f;
    transform: scale(1.1);
}

.av .fotoCliente img {
    border-radius: 50%;
    border: 1px solid;
    width: 100px;
    height: 100px;
    transition: .4s ease;
}

.av .fotoCliente img:hover,
.estrelas:hover {
    transform: scale(1.3);
}

/* RESPONSIVIDADE */


/* RODAPÉ */

/* RODAPÉ */

footer {
    background-color: var(--cor-secundaria);
    position: absolute;
    width: 100vw;
}

.footer1 {
    display: flex;
    flex-direction: column;
}

.footer1::before {
    content: "";
    position: absolute;
    top: -8em;
    left: 0;
    display: block;
    background-color: var(--cor-secundaria);
    transform: skew(0deg, 1deg);
    transform-origin: left;
    width: 100%;
    height: 130px;
}

.div1 {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    margin-bottom: 2em;
}

.div1 a:hover,
.div2 a:hover {
    color: #0037fc;
    transform: scale(1.1);
}

.div2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div2 p {
    margin: 0;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 a {
    margin-left: .6em;
    text-transform: uppercase;
    color: #0037fc;
    font-weight: bold;
}

div.footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

footer h4 {
    justify-self: baseline;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contato p {
    margin: 0;
}

footer a {
    font-size: 30px;
    display: flex;
    text-align: left;
    transition: .1s ease-in-out;
}

footer p,
footer a {
    font-size: 20px;
    color: #f2f2f2;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
    transform: scale(1.1);
}

.imagemfooter {
    height: 60px;
    width: 60px;
}

.Doar {
    border: 1px solid var(--cor-primaria);
    border-radius: 8px;
    text-transform: uppercase;
    margin-top: 1em;
    align-self: center;
}

.Doar:hover {
    background-color: #0037fc;
    border-color: #0037fc;
}

.Doar p {
    margin: 0;
    font-size: 1.2em;
    padding: .3em;
}

.esse p {
    font-size: 20px;
    text-align: center;
}

.esse a i {
    font-size: 35px;
}

.essa {
    align-self: center;
}