/* ESTILIZAÇÃO GERAL */

@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai";
}

:root {
  --widthLogo: 105px;
  --heightLogo: 45px;
  --cor-primaria: #f2f2f2;
  --cor-secundaria: #2c74b4;
  --cor-fundo: #3f3f3f;
  --margin-padrao: 1.6em;
  --radius-botao: 10px;
  --tamanho-fonte-padrao: 1.2rem;
  --tamanho-fonte-padrao: 1.2rem;
}

/* HEADER MOBILE E PC*/

header {
  pointer-events: all;
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  opacity: 1;
  height: 4.5em;
  background-color: var(--cor-secundaria)
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-list a {
  font-family: Verdana, Geneva, Tahoma;
  font-size: 1em;
  margin: 0 1em;
  text-decoration: none;
  color: var(--cor-primaria);
  font-weight: bold;
  transition: .3s ease-in-out;
}

.nav-bar a:hover {
  transform: scale(.95);
}

.login-button a {
  font-family: Verdana, Geneva, Tahoma;
  font-size: 1em;
  border-radius: var(--radius-botao);
  background-color: var(--cor-fundo);
  padding: .4em .5em;
  color: var(--cor-primaria);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {

  .nav-bar {
    width: 20%;
  }

  .nav-item {
    display: none;
  }

  .login-button {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    width: 50%;
    margin-left: 7em;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .login-button {
    display: flex;
    justify-content: center;
    margin: .5em;
  }

  .mobile-menu .login-button a {
    padding: 1em;
    font-weight: bold;
  }

  .mobile-menu .login-button button {
    width: 100%;
  }

  .open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #00325f;
    width: 100vw;
    height: 100vh;
  }

  .open a {
    color: white;
  }

  .open ul,
  .open li {
    margin: 0;
    padding: 0;
  }
}

/* ESTILIZAÇÃO CABEÇALHO */

.logo img {
  width: var(--widthLogo);
  height: var(--heightLogo);
}

.menu a.active {
  border-bottom: 2px solid var(--cor-secundaria);
  /* Adiciona uma borda na parte inferior */
}

.menu a::after:focus {
  width: 100%;
}

.login {
  display: flex;
}

.logo a {
  display: inline-flex;
}

header a:hover {
  transform: scale(1);
  opacity: 0.8;
}

header a {
  transition: ease-in-out .3s;
}

@media screen and (max-width: 768px) {

  .nav-bar {
    width: 100%;
  }

  .nav-item {
    display: none;
  }

  .login-button {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    width: 50%;
    margin-left: 7em;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .login-button {
    display: flex;
    justify-content: center;
    margin: .5em;
  }

  .mobile-menu .login-button a {
    padding: 1em;
    font-weight: bold;
  }

  .mobile-menu .login-button button {
    width: 100%;
  }

  .open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #00325f;
    width: 100vw;
    height: 100vh;
  }

  .open a {
    color: white;
  }

  .open ul,
  .open li {
    margin: 0;
    padding: 0;
  }

  .cardTexto p {
    font-size: 14px !important;
  }

  .div2 p,
  .div2 a {
    text-align: center;
    display: inline;
    color: white !important;
  }

  .div2 a {
    margin: 0;
  }

  .container-images img {
    height: 400px !important;
  }
}


/* div juntos */

.juntos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  margin-top: 2em;
}

/* ESTILIZAÇÃO CABEÇALHO */

.logo img {
  width: var(--widthLogo);
  height: var(--heightLogo);
}

.menu a.active {
  border-bottom: 2px solid var(--cor-secundaria);
}

.menu a::after:focus {
  width: 100%;
}

.login {
  display: flex;
}

.logo a {
  display: inline-flex;
}

header a:hover {
  transform: scale(1);
  opacity: 0.8;
}

header a {
  transition: ease-in-out .3s;
}

.modal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal ul li {
  color: #000000;
  margin-bottom: 1em;
}

h2 {
  font-size: 1em;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;

  @media (min-width: 500px) {
    font-size: 1.5em;
  }

  @media (min-width: 800px) {
    font-size: 1.8em;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 4.5em;
  }
}

h2 {
  font-size: 1em;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
}

/* Estilos para o cabeçalho */
/* Estilo para o modal */
.wrap h1 {
  color: black;
  font-weight: bold;

}

.wrap span {
  color: #2c74b4;
}

.wrap {
  padding: 1em;
  margin-top: 4em;
  text-align: center;
}

.modal {
  display: none;
  /* Inicia oculto por padrão */
  position: fixed;
  /* Fica fixo na tela */
  z-index: 1;
  /* Coloca na frente de outros elementos */
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  /* Largura total */
  height: 100%;
  /* Altura total */
  background-color: #fff;
  /* Cor de fundo semi-transparente */
  overflow: auto;
  padding: 1em;
  /* Habilita rolagem quando necessário */
}

.modal-content img {
  height: 166px;
  /* Altura da imagem */
  width: 200px;
  /* Largura da imagem */
  display: block;
  /* Para garantir que a margem automática funcione */
  margin: 0 auto;
  /* Centraliza horizontalmente */
}

/* Conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #ffffff;
  width: 100%;
  max-width: 900px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 600;
  overflow-y: auto;
  max-height: 100%;
  /* Altura máxima do modal */
  padding: 20px;
  /* Espaçamento interno */
  box-sizing: border-box;
  /* Inclui padding e border na largura total */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* botão de adquirir */

.adquirir-link {
  display: inline-block;
  padding: 8px 16px;
  /* Reduzido o padding para torná-lo mais compacto */
  background-color: #2c74b4;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px;
  /* Valor alto para arredondar bastante, ajuste conforme necessário */
  transition: background-color 0.3s ease;
  width: 20%;
}

.adquirir-link:hover {
  background-color: #0037fc;
}

/* Botão de fechar (X) */
.close {
  color: #121313;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  /* Tamanho do botão */
  height: 40px;
  /* Tamanho do botão */
  border-radius: 50%;
  /* Bordas circulares */
  background-color: rgba(0, 55, 252, 0.8);
  /* Cor do fundo */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  /* Transição suave de cor de fundo */
  cursor: pointer;
}

.close:hover,
.close:focus {
  cursor: pointer;
  color: #0a0a0a;
  text-decoration: none;
  background-color: rgba(0, 55, 252, 0.8);
  /* Cor do fundo ao passar o mouse */
}

/* colorido e arrumando o titulo e o p do pop-out */
.modal-content h2 {
  color: #2c74b4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 45px;
}

.modal-content p {
  color: #000000;
  text-align: justify;
  font-size: 25px;
}

.modal-content li {
  font-size: 25px;
  text-align: justify;
  color: #000;
}


/* CARROSSEL */

.container-slider {
  display: flex;
  width: 800px;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  bottom: 50%;
  top: 50%;
  right: 50%;
  left: 50%;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-images img {
  transition: .4s ease-in-out;
  height: 550px;
}

.slider {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 100%;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.on {
  opacity: 1;
}

#prev-button,
#next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img,
#next-button img {
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}

/* RODAPÉ */

footer {
  background-color: var(--cor-secundaria);
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  z-index: 0;
  margin-top: 2em;
}

.footer1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.div1 {
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  margin-bottom: 2em;
}

.div1 a:hover,
.div2 a:hover,
footer i:hover {
  cursor: pointer;
  color: #0037fc;
  transform: scale(1.1);
}

.div2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div2 p {
  margin: 0;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 a {
  margin-left: .6em;
  text-transform: uppercase;
  color: #0037fc;
  font-weight: bold;
}

div.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

footer h4 {
  justify-self: baseline;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contato p {
  margin: 0;
}

footer a {
  font-size: 30px;
  display: flex;
  text-align: left;
  transition: .1s ease-in-out;
}

footer p,
footer a {
  font-size: 20px;
  color: #f2f2f2;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
  transform: scale(1.1);
}

.imagemfooter {
  height: 60px;
  width: 60px;
}

.Doar {
  background-color: var(--cor-fundo);
  border-radius: 8px;
  margin-top: 1em;
  align-self: center;
  transition: ease-in-out .3s;
  transform: scale(1.1);
}

.Doar p {
  margin: 0;
  font-size: 1em;
  padding: .3em;
}

.esse p {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.essa {
  align-self: center;
}

.insta {
  display: flex;
  align-items: center;
  width: 80px;
  justify-content: space-between;
}

a.Doar:hover {
  opacity: .8;
  transform: scale(1);
}


/* AVALIACOES */
/* AVALIACOES */

div.avaliacoes {
  display: grid;
  grid-template-columns: repeat(3, 570px);
  grid-template-rows: repeat(2, 290px);
  justify-content: center;
  gap: 3em;
  margin-top: 3em;
}

.avaliacao h2 {
  margin: .5em;
  text-align: center;
}

.av h4 {
  margin: 0;
}

.estrelas i {
  color: yellow;
}

.estrelas {
  transition: .2s ease;
  display: flex;
  justify-content: flex-end;
}

.cardTexto {
  margin: 0 2em;
  text-align: justify;
}

.cardTexto p {
  margin: 0;
  font-size: 1em;
}

.av {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-radius: 25px;
  border: 2px solid;
  transition: .3s ease-in-out;
}

.divisao {
  display: flex;
  justify-content: space-between;
  width: 98%;
  padding: 0 1em;
}

.alinhar {
  display: flex;
  align-items: center;
}

.av:hover {
  box-shadow: 0 0 10px #0037fc8f;
  transform: scale(1.05);
}

.av .fotoCliente img {
  border-radius: 50%;
  border: 1px solid;
  width: 80px;
  height: 80px;
}

.fotoCliente {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

.avaliacao h2 {
  color: #080808;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 45px;
  margin-top: 90px;

}

.avaliacao span {
  color: #2c74b4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 45px;
  margin-top: 90px;
}

/* OUTROS */

figure {
  margin: 0;
}

.nav-list ul {
  padding: 0;
  margin: 0;
}

.nav-bar li {
  margin: 0;
}

.div2 p a {
  color: white !important;
}