/* ESTILIZAÇÃO GERAL */

@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhai";
}

:root {
    --widthLogo: 105px;
    --heightLogo: 45px;
    --cor-primaria: #f2f2f2;
    --cor-secundaria: #2c74b4;
    --cor-fundo: #3f3f3f;
    --margin-padrao: 1.6em;
    --radius-botao: 10px;
    --tamanho-fonte-padrao: 1.2rem;
    --tamanho-fonte-padrao: 1.2rem;
}

/* HEADER MOBILE E PC*/

header {
    pointer-events: all;
    z-index: 1;
    top: 0;
    position: fixed;
    width: 100%;
    opacity: 1;
    height: 4.5em;
    background-color: var(--cor-secundaria)
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-bar a {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 1.1em;
    margin: 0 1em;
    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: bold;
    transition: .3s ease-in-out;
}

.nav-bar a:hover {
    transform: scale(.95);
}

.login-button a {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 1em;
    border-radius: var(--radius-botao);
    background-color: var(--cor-fundo);
    padding: .4em .5em;
    color: var(--cor-primaria);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 768px) {

    .nav-bar {
        width: 20%;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        width: 50%;
        margin-left: 7em;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: flex;
        justify-content: center;
        margin: .5em;
    }

    .mobile-menu .login-button a {
        padding: 1em;
        font-weight: bold;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #00325f;
        width: 100vw;
        height: 100vh;
    }

    .open a {
        color: white;
    }

    .open ul,
    .open li {
        margin: 0;
        padding: 0;
    }
}

/* ESTILIZAÇÃO CABEÇALHO */

.logo img {
    width: var(--widthLogo);
    height: var(--heightLogo);
}

.menu a.active {
    border-bottom: 2px solid var(--cor-secundaria);
    /* Adiciona uma borda na parte inferior */
}

.menu a::after:focus {
    width: 100%;
}

.login {
    display: flex;
}

.logo a {
    display: inline-flex;
}

header a:hover {
    transform: scale(1);
    opacity: 0.8;
}

header a {
    transition: ease-in-out .3s;
}

/* ESTILIZAÇÃO CORPO */

/* CONHEÇA NOSSA HISTORIA */

.ancoraPraHistoria {
    position: absolute;
    left: 40%;
    top: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ancoraPraHistoria p {
    font-size: 20px;
    font-weight: bold;
}

.ancoraPraHistoria img {
    height: 130px;
    transition: .2s ease;
}

.ancoraPraHistoria img:hover {
    transform: scale(.9);
    opacity: .8;
}

/* PARTE DO COMEÇO */

.fundo img {
    height: 100vh;
    width: 100vw;
}

.sloganEfundo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
}

.slogan {
    position: absolute;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000000d8;
    border-radius: 15px;
    padding: 2em;
    color: white;
    box-shadow: 0 0 4px black;
}

.slogan h2 {
    font-weight: bold;
    text-align: center;
}

.slogan p {
    font-size: 20px;
    text-align: justify;
}

/* PARTE DA HISTORIA 2 */

.historia {
    display: flex;
    padding: 0 10em;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
    background-color: #0037fc93;
    color: white;
    font-weight: bold;
}

.imagem img,
.visao img {
    border-radius: 20px;
    height: 520px;
    width: 670px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35vw;
    height: 65%;
    text-align: justify;
}

.texto h2 {
    text-align: center;
}

.texto h2,
.texto p {
    margin: .6em;
}

/* PARTE MVV */
/* VISÃO */

.visao {
    height: 65vh;
    padding: 0 10em;
    background-color: #0037fc93;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.textoVisao {
    height: 65%;
    width: 35vw;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
    color: white;
}

.textoVisao p {
    margin: 0;
}

/* VALORES */

.face {
    width: 350px;
    height: 300px;
    perspective: 400px;
    display: flex;
    justify-content: center;
}

.face img {
    width: 115px;
    height: 110px;
}

.face h3 {
    margin: 0;
    text-align: center;
    font-size: 24px;
}

.front,
.back {
    position: absolute;
    width: 70%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.front {
    background: var(--cor-secundaria);
    z-index: 1;
}

.back {
    background: #476df6;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
}

.back h2 {
    font-size: 18px;
    text-align: center;
}

.face:hover .front {
    transform: rotateY(180deg);
    z-index: 0;
}

.face:hover .back {
    transform: rotateY(0);
    z-index: 1;
}

.valores {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: hsla(199, 94%, 33%, 0.478);
    color: white;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 75vh;
    row-gap: 80px;
}

/* MISSAO */

.fundoPreto {
    position: absolute;
    top: 183.4%;
    width: 100vw;
    height: 80.3vh;
    background-color: rgba(0, 0, 0, 0.454);
}

.missao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.missao .fundoMissao img {
    z-index: -1;
    height: 80.3vh;
    width: 100vw;
    opacity: .8;
}

.textoMissao {
    position: absolute;
    width: 900px;
    height: 35%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: #0000009d;
    padding: 2em;
    border-radius: 25px;
    color: white;
}

.textoMissao p {
    margin: 0;
}

/* SECTION RESPONSIVE */



/* RODAPÉ */

footer {
    background-color: var(--cor-secundaria);
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.footer1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div1 {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    margin-bottom: 2em;
}

.div1 a:hover,
.div2 a:hover,
footer i:hover {
    cursor: pointer;
    color: #0037fc;
    transform: scale(1.1);
}

.div2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div2 p {
    margin: 0;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 a {
    margin-left: .6em;
    text-transform: uppercase;
    color: #0037fc;
    font-weight: bold;
}

div.footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

footer h4 {
    justify-self: baseline;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contato p {
    margin: 0;
}

footer a {
    font-size: 30px;
    display: flex;
    text-align: left;
    transition: .1s ease-in-out;
}

footer p,
footer a {
    font-size: 20px;
    color: #f2f2f2;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
    transform: scale(1.1);
}

.imagemfooter {
    height: 60px;
    width: 60px;
}

.Doar {
    background-color: var(--cor-fundo);
    border-radius: 8px;
    margin-top: 1em;
    align-self: center;
    transition: ease-in-out .3s;
}

.Doar p {
    margin: 0;
    font-size: 1em;
    padding: .3em;
}

.esse p {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.essa {
    align-self: center;
}

.insta {
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-between;
}

a.Doar:hover {
    opacity: .8;
    transform: scale(1);
}

/* OUTROS */

figure {
    margin: 0;
}

.nav-list ul {
    padding: 0;
    margin: 0;
}

.nav-bar li {
    margin: 0;
}